<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TED 12</title>
    <script src="app/jquery-3.1.1.min.js"></script>
    <script src="app/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/bootstrap.min.css">
    <script src="app/main.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="MainController" class="container well">
    <h1><img src="img/mchammer.gif"> DOCKER SUPER EXTREM FUN<img src="img/mchammer.gif"></h1>
    <marquee><h2>BEST WEBPAGE IN DA WORLD!!!1111einself</h2></marquee>
    First name:<br>
    <input id="nameInput" type="text" name="firstname"><br>
    <button class="btn btn-primary" id="submitButton" ng-click="onSubmitClick()">Submit</button>
    <button class="btn" ng-click="showList = !showList">List</button>

    <div ng-if="showList === true">
        <section id="tables">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <td><h3>ID</h3></td>
                <td><h3>Username</h3></td>
                </thead>
                <tr ng-repeat="user in users track by $index" ng-click="deleteUserById(user.id)" style="cursor: pointer">
                    <td ng-bind="user.id"></td>
                    <td ng-bind="user.name"></td>
                </tr>
            </table>
        </section>
    </div>
    <br>
    <audio autoplay loop>
        <source src="sound/Siren_Noise-KevanGC-1337458893.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
</body>
</html>